{% if page.features contains "mathjax" %}
<script>
  MathJax = {
    tex: {
      inlineMath: [['\\(', '\\)']],
      displayMath: [['\\[', '\\]']]
    },
    svg: {
      fontCache: 'global'
    },
    startup: {
      ready() {
        const CHTMLmath = MathJax._.output.chtml.Wrappers.math.CHTMLmath;
        delete CHTMLmath.styles['mjx-container[jax="CHTML"][display="true"]'].margin;
        MathJax.startup.defaultReady();
      }
    },
  };
</script>
<script src='https://polyfill.io/v3/polyfill.min.js?features=es6'></script>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js' async></script>
{% endif %}

{% if page.features contains "highlight" %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js'></script>
<script>
  hljs.highlightAll();
</script>
{% endif %}

{% if page.features contains "mermaid" %}
<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
  mermaid.initialize({ 
    startOnLoad: true,
    flowchart: {
      diagramPadding: 1,
      useMaxWidth: false,
    },
  });
</script>
{% endif %}

{% if page.features contains "chart" %}
<script src="https://cdn.jsdelivr.net/npm/echarts@5.5.1/dist/echarts.min.js"></script>
<script>
  function chart(id, options) {
    const chart = echarts.init(document.getElementById(id));
    chart.setOption(options);
    window.addEventListener('resize', function() {
      chart.resize();
    });
  }
</script>
{% endif %}