/* 
 * Style overrides.
 */

code {
  padding: 0 5px;
}

hr {
  border: none;
  border-top: 1px solid $border-color-01;
}

sup {
  @include relative-font-size(0.75);
  line-height: 0;
}

blockquote {
  @include relative-font-size(1);
  color: $text-color;
  font-style: normal;
}

table {
  margin-bottom: $spacing-unit * .5;
}

mjx-container {
  overflow-x: auto;
  overflow-y: hidden;
  margin: $spacing-unit * .5 0;
}

.pagination {
  margin-bottom: $spacing-unit * .5;

  li {
    a {
      display: block;
      padding: $spacing-unit * .25;
      border: 1px solid $border-color-01;

      &:hover {
        border-color: $border-color-02;
      }
    }
  }
}

pre {
  tab-size: 4;
  padding: 0;

  .hljs {
    background: $code-background-color;
  }
}